*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(255, 255, 255);
}

.head{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 100%;
    background-color: #fce6d3;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(21, 21, 21, 0.399);
   
}

.title{
    font-size: 35px;
    margin-left: 5px;
    font-weight: 900;
    cursor: default;
    color: #333;
}

.logo-site{
    margin-top: 100px;
    margin-left: 10px;
    margin-bottom: -30%;
    font-size: 30px;
    font-weight: 700;
    cursor: alias;
    display: none;
    border-bottom:1px solid #717171;
}

.logo-site .ion{
    font-size: 30px;
}

.navegacion ul{
    display: flex;
    list-style: none;
    margin-top: 6px;
    gap: 20px;
}

.navegacion ul li a ion-icon{
    font-size: 25px;
}

.navegacion ul li a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}

.navegacion ul li a:hover{
    color: orange;
    border-bottom: 1px solid orange;
}

.btn{
    display: none;
    font-size: 45px;
    color: #333;
    transition: all .6s ease-in-out;
}

.btn:hover{
    color: #E63946;
    transform: rotate(90deg);
    transition: all .5s ease-in-out;
}

@media (max-width: 600px){
    .btn{
        display: block;
    }

    .buttons .btn-1{
        padding: 3px;
    }

    .logo-site{
         display: flex;

    }
    .navegacion{
        position: absolute;
        overflow: hidden;
        height: 100ch;
        background-color: #fee4cd;  
        width: 0;
        margin: -4% -7%;
        transition: all .9s ease;
        box-shadow: 0 3px 15px rgba(20, 20, 20, 0.444);
      }

    .navegacion ul{
        flex-direction: column;
        padding-top: 150px;
    }

    .navegacion ul li a{
        padding: 10px;
    }
    .navegacion ul li a:hover{
        color: rgb(255, 185, 79);
        border-bottom: 1px solid rgb(255, 185, 79);
        
    }

    main div{
        padding-bottom: 0%;
    }

    .navegacion ul li {
        color: #333;
        font-size: 30px;
        margin: 0;
        padding: 10px;
        transition: all .3s ease;
    }


    .navegacion.barra{
        color: #333;
        width: 250px;
        transition: all .9s ease;
    }

    .opacar{
        opacity: 0;
        transition: all 1s ease;
    }

    .opacar.desopacar{
        transition: all 1s ease;
        opacity: 1;
    }


}

#slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 10%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: changeBackground 30s infinite;
}

#slideshow button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


.content{
    color: rgb(0, 0, 0);
    overflow: hidden;
    width: 35rem;
    height: 25rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: -10%;
    background: none;
    cursor: default;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    height: 15%;
    padding: 0%;
}

.buttons .btn-1{
    background-color: #E63946;
    text-decoration: none;
    color: #fdfbfb;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s ease-in;
}

.buttons .btn-1:hover{
    color: rgb(167, 166, 166);
    background-color: #af0101;
    transition: all .1s ease-in;
}

.buttons .btn-2{
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    color: #E63946;
    background-color: aliceblue;
    outline: #E63946 2px solid ;
}

.buttons .btn-2:hover{
    color: #b9303c;
    outline: #c0303c 2px solid ;
}

.contenedor-cards{
    display: flex;
    height: 210px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    background: white;
    white-space: nowrap;
    margin-bottom: 2%;
    gap: 15px;
    background: none;
}

.contenedor-cards::-webkit-scrollbar{
    height: 6px;
}

.contenedor-cards::-webkit-scrollbar-thumb{
    background-color: rgb(162, 161, 161);
}

.contenedor-cards::-webkit-scrollbar-track {
    background-color: #fcfafa; /* Color del área de la pista de desplazamiento */
  }

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 10rem;
    height: 190px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(252, 252, 252);
    margin-left: 2px;
}

.cards:hover{
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(7, 7, 7, 0.378);
    outline: .5px solid rgba(222, 222, 222, 0.764);
}

.cards img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen cubrirá todo el contenedor, manteniendo su proporción */
    max-width: 100%;
    transition: all .3s ease;
}

.cards img:hover{
    transition: all .3s ease;
    transform: scale(1.2);
}

.botonrs-compra-cards{
    display: flex;
    padding: 0%;
    width:100%;
}

@media (max-width:600px){

    .contenedor-cards{
        height: 160px;
        overflow-x: scroll;
    }

    .contenedor-cards::-webkit-scrollbar{
        height: 0px;
    }

    .cards{
        width: 130px;
        height: 155px;
    }

}
